<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title {% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"></head>
<body >
{% if user.is_authenticated %}

<ul  class="nav nav-tabs d-flex justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'viewprojects1' %}">view project</a>
  </li>
<li class="nav-item">
        <a class="nav-link " aria-current="page" href="{% url 'projectadd2' %}">add project</a>
  </li>
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">user:{{user.username}}</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'vewiu' %}">  profile :  {{user.username}}</a>
     </a>
      </li>
      <li>
          <a class="dropdown-item" href="{% url 'chan' %}">change password</a></li>

    </ul>
  </li>

  <li class="nav-item">
<button class="btn btn-primary"><a style="color:white" href="{% url 'logut' %}"> logout</a></button>  </li>
  </li>
</ul>

{% endif %}

{% block name %}

{% if user.is_authenticated %}
<h1>heelo {{user.username}}</h1>
{% endif %}
{% endblock name %}

<!--    <table class="table table-dark table-hover">-->
<!--             {% for i in data %}-->
<!--      </td>-->

<!--        {{i.name}} <br>-->

<!--      <td>-->
<!--          {% endfor%}-->
<!--  ...-->
<!--</table>-->
<pre>








{% if  not user.is_authenticated %}
<div class="nav justify-content-center">

<h1 class=" btn-danger " >plz login </h1><br>
    <button class="btn btn-info  justify-content-center "> <a href="{% url 'log'%}">login</a></button>

</div>
{% endif %}


</pre>
{% if user.is_authenticated %}
<h1 align="center"> footer</h1>
{% endif %}
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>