
{% extends 'project/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block name %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">project</th>
      <th scope="col">project</th>
      <th scope="col">project</th>
      <th scope="col">project</th>
      <th scope="col">project</th>

    </tr>
  </thead>
  <tbody>

    <tr>

      {% for i in data %}

      <td><h1><a href="{% url 'viewidd' i.Project_id %}">{{i.Project_name}}</a></h1>
          {{arv}}

          {% endfor %}
</td>

    </tr>


  </tbody>
</table>

<div>
    {% for m in arv %}
    {{m.Avg_rate}}
    ب
    {% endfor %}
</div>


{% endblock name %}

</body>
</html>